<body>
  <div class="loginwindow">
    <h3>Username</h3>
    <input type="text" name="Username" value="model.name">
    <h3>Password</h3>
    <input type="text" name="Password" value="">
    <button type="button" name="Login"></button>
  </div>
</body>
