body {
  margin: 0 auto;
    background-color: rgba(254, 255, 153, .5);
}
header {
  height: 100px;
  width:100%;
  margin-bottom: 15px;
  background-color: rgba(151, 188, 204, 1);
  position: fixed;
}
.headerlink {
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  background-color: rgba(203, 224, 159, 1);
  color: white;
  margin-left: 3%;
  margin-right: 3%;
  padding: 15px;
  border-radius: 15px;
  bord
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.logo {
  height: 60px;
  margin-top: 10px;
  margin-left: 10px;
  position: relative;
  padding-top: 10px;
}
.header-link-container {
  width: calc(100% - 112px);
  float: right;
  text-align: right;
  display: inline-block;
  margin-top: 50px;
}
.family-page-photo,
.nature-page-photo,
.main-index {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 7px;
}
#top-photo {
  margin-top: 1%;
}
#main-index-photo {
  margin-top: 115px;
  border-radius: 7px;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}
.portfolio-heading {
  height: 800px;
  width:80%;
  margin-top: 110px;
  margin-left: 10%;
  margin-right: 10%;
}
hr {
  width: 97%;
  background-color: rgba(71, 121, 72, 1);
  border-radius: 75%;
  height: 5px;
}
.about-myself {
  text-align: right;
  text-decoration: underline;
}
.about-me-intro {
  margin-top: 115px;
  position: absolute;
  margin-left: 5%;
  margin-right: 5%;
}
.about-me-pic {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-left: 40%;
  margin-right: 40%;

}
.login-screen {
  text-align: center;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 30%;
  border-color: rgba(86, 54, 31, .5);
  border-width: 5px;
  border-style: solid;
}
button {
  width: 50px;
  background-color: rgba(151, 188, 204, 1);
  height: 20px;
  margin-bottom: 10px;
}
