body {
  margin: 0 auto;
    background-color: rgba(254, 255, 153, .5);
}
header {
  height: 100px;
  width:100%;
  background-color: rgba(151, 188, 204, 1);
  position: fixed;
}
.headerlink {
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  background-color: rgba(203, 224, 159, 1);
  color: white;
  margin-left: 3%;
  margin-right: 3%;
  padding: 15px;
  border-radius: 15px;
  bord
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  height: 60px;
  margin-top: 10px;
  margin-left: 10px;
  position: relative;
  padding-top: 10px;
}
.header-link-container {
  width: calc(100% - 112px);
  float: right;
  text-align: right;
  display: inline-block;
  margin-top: 50px;
}
.family-page-photo,
.main-page-photo,
.nature-page-photo {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 7px;
}
#top-photo {
  margin-top: 1%;
}
#main-index-photo {
  margin-top: 1%;
  height:auto;
}
.portfolio-heading {
  height: 800px;
  margin-left:15%;
  margin-right: 15%;
}
hr {
  width: 97%;
  background-color: rgba(71, 121, 72, 1);
  border-radius: 75%;
  height: 5px;
}
