body {
  margin: 0 auto;
  background-color: rgba(151, 188, 204, 1);
}
header {
  height: 100px;
}
.headerlink {
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  color: white;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 25px;

}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  height: 80px;
  margin-top: 15px;
  margin-left: 15px;
  position: relative;
  padding-top: 10px;
}
.header-link-container {
  width: calc(100% - 112px);
  float: right;
  text-align: right;
  display: inline-block;
}
