body {
  margin: 0 auto;
  background-color: rgba(151, 188, 204, 1);
}
header {
  height: 80px;
  width: auto;
}
a {
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  display: block;
  color: white;
}
.portrait {
}
.logo {
  height: 80px;
  margin-top: 15px;
  margin-left: 15px;
  position: relative;
  padding-top: 10px;
}
ul {
  margin-top: 0;
}
.slideshow {
  background-color: green;
  width: 1200px;
  height: 800px;
  margin-left: 15px;
}
