<div class="familyimages">
<img class="family-page-photo" id="top-photo" src="assets/images/Edit-1549.jpg" alt="" />
<hr>
<img class="family-page-photo" src="assets/images/Edit-4035.jpg" alt="" />
<hr>
<img class="family-page-photo" src="assets/images/Edit-5084.jpg" alt="" />
<hr>
<img class="family-page-photo" src="assets/images/Edit-5090.jpg" alt="" />
<hr>
<img class="family-page-photo" src="assets/images/edit-7439.jpg" alt="" />
<hr>
<img class="family-page-photo" src="assets/images/editbw-7429.jpg" alt="" />
<hr>
</div>
<footer>
  <p class="copyright-notice">
    All photos within are subject to Copyright Laws, and are owned by Liggett Photography. 2015
  </p>
</footer>
{{outlet}}
