<header>
  <img class="logo"src="assets/images/Liggett.png" alt="" />
  <div class="header-link-container">
  {{#link-to "portfolio.family" class="headerlink"}}Family{{/link-to}}
  {{#link-to "portfolio.mn" class="headerlink"}}Maternity{{/link-to}}
  {{#link-to "portfolio.nature" class="headerlink"}}Nature{{/link-to}}
  {{#link-to "portfolio.special-event" class="headerlink"}}Special Events{{/link-to}}
  {{#link-to "index" class="headerlink"}}Main{{/link-to}}
  </div>
</header>
<img src="https://placeimg.com/640/480/any" alt="" />
<img src="" alt="" />
<h1 class="placeholder-text">this is a placeholder</h1>
<footer>
  <p class="copyright-notice">
    All photos within are subject to Copyright Laws, and are owned by Liggett Photography. 2015
  </p>
</footer>
{{outlet}}

{{outlet}}
