<header>
  <img class="logo"src="assets/images/Liggett.png" alt="" />
  <div class="header-link-container">
  {{#link-to "portfolio.family" class="headerlink"}}Family{{/link-to}}
  {{#link-to "portfolio.mn" class="headerlink"}}Maternity{{/link-to}}
  {{#link-to "portfolio.nature" class="headerlink"}}Nature{{/link-to}}
  {{#link-to "portfolio.special-event" class="headerlink"}}Special Events{{/link-to}}
  {{#link-to "index" class="headerlink"}}Main{{/link-to}}
  </div>
</header>
<div data-uk-slideshow>
  <ul class="uk-slideshow" data-uk-slideshow="{autoplay:true}">
    <li><img src="assets/images/edit-8354.jpg" width="" height="" alt=""></li>
    <li><img src="assets/images/Edit-4416.jpg" width="" height="" alt=""></li>
    <li><img src="assets/images/Edit-5084.jpg" width="" height="" alt=""></li>
    <li><img src="assets/images/Edit-5084.jpg" width="" height="" alt=""></li>
  </ul>
    <li data-uk-slideshow-item="0"><a href="">...</a></li>
    <li data-uk-slideshow-item="1"><a href="">...</a></li>
</div>
{{outlet}}
