<header>
  <img class="logo"src="assets/images/Liggett.png" alt="" />
  <div class="header-link-container">
  {{#link-to "portfolio.family" class="headerlink"}}Family{{/link-to}}
  {{#link-to "portfolio.mn" class="headerlink"}}Maternity & Newborn{{/link-to}}
  {{#link-to "portfolio.nature" class="headerlink"}}Nature{{/link-to}}
  {{#link-to "portfolio.special-event" class="headerlink"}}Special Events{{/link-to}}
  {{#link-to "index" class="headerlink"}}Main{{/link-to}}
  </div>
</header>
<img src="" alt="" />
<h2>About myself</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod nisl non velit vehicula efficitur. Fusce pellentesque augue sodales enim iaculis, quis feugiat quam dictum. Sed sed est at ligula congue maximus. Maecenas justo diam, fermentum et felis et, tincidunt cursus mauris. Praesent quis arcu quis felis faucibus ornare sed luctus mauris. Fusce sollicitudin non dolor in interdum. Fusce dui lacus, aliquet et aliquam et, dignissim et arcu.

  Fusce interdum velit at ante posuere, at placerat neque suscipit. Maecenas vitae luctus orci, ac ullamcorper nisi. Curabitur sagittis aliquam auctor. Donec sed porta lorem, faucibus gravida quam. Nam sed lobortis nibh. Etiam non arcu eget nunc euismod laoreet eu eu lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed congue, libero et lacinia rhoncus, mauris ipsum viverra urna, et mollis turpis purus ac lectus. Suspendisse id purus volutpat, ultricies neque eget, sagittis ex. Phasellus feugiat ullamcorper commodo. Praesent ut dignissim ex. Vivamus gravida ante nec tellus rhoncus consequat.
</p>
{{outlet}}
