<header class="clearfix">
  <img class="logo"src="assets/images/Liggett.png" alt="" />
  <div class="header-link-container">
    {{#link-to "portfolio" class="headerlink"}}Portfolio{{/link-to}}
    {{#link-to "about.blog" class="headerlink"}}Blog{{/link-to}}
    {{#link-to "index" class="headerlink"}}Main{{/link-to}}
    {{#link-to "signin" class="headerlink"}}Sign In{{/link-to}}
  </div>
</header>

<div class="about-me-intro">
  <img class="about-me-pic" src="assets/images/head.jpg" alt="" />
  <h2 class="about-myself">About Me, Emelee</h2>
  <p class="first word">
    Lorem
  </p>
  <p>
     ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod nisl non velit vehicula efficitur. Fusce pellentesque augue sodales enim iaculis, quis feugiat quam dictum. Sed sed est at ligula congue maximus. Maecenas justo diam, fermentum et felis et, tincidunt cursus mauris. Praesent quis arcu quis felis faucibus ornare sed luctus mauris. Fusce sollicitudin non dolor in interdum. Fusce dui lacus, aliquet et aliquam et, dignissim et arcu.

    Fusce interdum velit at ante posuere, at placerat neque suscipit. Maecenas vitae luctus orci, ac ullamcorper nisi. Curabitur sagittis aliquam auctor. Donec sed porta lorem, faucibus gravida quam. Nam sed lobortis nibh. Etiam non arcu eget nunc euismod laoreet eu eu lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed congue, libero et lacinia rhoncus, mauris ipsum viverra urna, et mollis turpis purus ac lectus. Suspendisse id purus volutpat, ultricies neque eget, sagittis ex. Phasellus feugiat ullamcorper commodo. Praesent ut dignissim ex. Vivamus gravida ante nec tellus rhoncus consequat.
  </p>
  <p>
    Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin consectetur faucibus enim. In aliquam imperdiet molestie. Donec sagittis, diam ut porta lobortis, neque dolor sollicitudin lorem, ac porttitor lacus sem nec leo. Nunc sapien orci, aliquam eget ipsum nec, aliquet rutrum ligula. Nullam lobortis accumsan pharetra. Ut dapibus tristique nibh sit amet rhoncus. Cras in ipsum eu augue facilisis semper. Duis semper magna nec tincidunt dapibus. Aenean tempor purus quis auctor pretium. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
  </p>
</div>
{{outlet}}
