<h2 id="title">Welcome to Ember.js</h2>
<header>
  <img src="" alt="" />
  <a href="#">Portraits</a>
  <a href="#">About Me</a>
  <a href="#">Sign In</a>
</header>
<body>
  <div class="largephoto">
    <img src="http://lorempixel.com/output/nature-q-c-640-480-2.jpg" alt="" />
  </div>
  <div class="dividers">
  </div>
  <div class="twocenter">
    <img src="http://lorempixel.com/output/nature-q-c-640-480-2.jpg" alt="" />
    <img src="http://lorempixel.com/output/nature-q-c-640-480-2.jpg" alt="" />
  </div>
  <div class="dividers">
  </div>
  <div class="largephoto">
    <img src="http://lorempixel.com/output/nature-h-c-640-1044-5.jpg" alt="" />
  </div>
</body>
{{outlet}}
