<header>
  <img class="logo"src="assets/images/Liggett.png" alt="" />
  <ul>
    <a class="portfolio" href="#">Portfolio</a>
  </ul>
  <ul>
    <a class="about" href="#">About Me</a>
  </ul>
  <ul>
    <a class="signin" href="#">Sign In</a>
  </ul>
</header>
<body>
  <div class="slideshow">
  </div>
</body>
{{outlet}}
