<header>
  <img class="logo"src="assets/images/Liggett.png" alt="" />
  <a class="portrait" href="#">Portraits</a>
  <a class="about-me" href="#">About Me</a>
  <a class="sign-in" href="#">Sign In</a>
</header>
<body>
  <div>
  </div>
</body>
{{outlet}}
