<header class="clearfix">
  <img class="logo"src="assets/images/Liggett.png" alt="" />
  <div class="header-link-container">
    {{#link-to "portfolio" class="headerlink"}}Portfolio{{/link-to}}
    {{#link-to "about" class="headerlink"}}About Me{{/link-to}}
    {{#link-to "signin" class="headerlink"}}Sign In{{/link-to}}
  </div>
</header>
<img class="main-page-photo" id="main-index-photo" src="assets/images/Edit-3048.jpg" alt="" />
{{outlet}}
