<header class="clearfix">
  <img class="logo"src="assets/images/Liggett.png" alt="" />
  <div class="header-link-container">
    {{#link-to "portfolio" class="headerlink"}}Portfolio{{/link-to}}
    {{#link-to "about" class="headerlink"}}About Me{{/link-to}}
    {{#if session.isAuthenticated}}
      <button type="button" class="headerlink" name="sign-out" {{action 'invalidateSession'}}>Signout</button>
    {{else}}
      {{#link-to "signin" class="headerlink"}}Sign In{{/link-to}}
    {{/if}}

  </div>
</header>
<img class="main-page-photo" src="assets/images/Edit-3048.jpg" alt="" />

<footer>
  <p class="copyright-notice">
    All photos within are subject to Copyright Laws, and are owned by Liggett Photography. 2015
  </p>
</footer>
{{outlet}}
