<header class="clearfix">
  <img class="logo"src="assets/images/Liggett.png" alt="" />
  <div class="header-link-container">
    {{#link-to "portfolio.index" class="headerlink"}}Portfolio{{/link-to}}
    {{#link-to "about" class="headerlink"}}About Me{{/link-to}}
    {{#if session.isAuthenticated}}
      {{#link-to "users.current" class="headerlink"}}Profile{{/link-to}}
    {{else}}
      {{#link-to "login" class="headerlink"}}Sign In{{/link-to}}
    {{/if}}

  </div>
</header>
<body>
  <div class="image-opacity">
  <img class="main-index-img" src="assets/images/edit-8602.jpg" alt="" />
  </div>
</body>
<footer>
  <p class="copyright-notice">

  </p>
  <p class="copyright-notice">
    <i class="fa fa-copyright"></i> 2015 Emelee Liggett All photos are subject to Copyright Laws, and are owned by Liggett Photography.
  </p>
</footer>
{{outlet}}
