<header>
  <img class="logo"src="assets/images/Liggett.png" alt="" />
  <div class="header-link-container">
  {{#link-to "portfolio.family" class="headerlink"}}Family{{/link-to}}
  {{#link-to "portfolio.mn" class="headerlink"}}Maternity & Newborn{{/link-to}}
  {{#link-to "portfolio.nature" class="headerlink"}}Nature{{/link-to}}
  {{#link-to "portfolio.special-event" class="headerlink"}}Special Events{{/link-to}}
  {{#link-to "index" class="headerlink"}}Main{{/link-to}}
  </div>
</header>
<img class="portfolio-heading"src="assets/images/edit-8320.jpg" alt="" />
<img src="" alt="" />
<img src="" alt="" />
{{outlet}}
