<header>
  <img class="logo"src="assets/images/Liggett.png" alt="" />
  <div class="header-link-container">
  {{#link-to "portfolio.family" class="headerlink"}}Family{{/link-to}}
  {{#link-to "portfolio.mn" class="headerlink"}}Maternity{{/link-to}}
  {{#link-to "portfolio.nature" class="headerlink"}}Nature{{/link-to}}
  {{#link-to "portfolio.special-event" class="headerlink"}}Special Events{{/link-to}}
  {{#link-to "index" class="headerlink"}}Main{{/link-to}}
  </div>
</header>
<footer>
  <p class="copyright-notice">

  </p>
  <p class="copyright-notice">
    <i class="fa fa-copyright"></i> 2015 Emelee Liggett All photos are subject to Copyright Laws, and are owned by Liggett Photography.
  </p>
</footer>
{{outlet}}
