<header class="clearfix problem" id="problem-pages">
  <img class="logo"src="assets/images/Liggett.png" alt="" />
  <div class="header-link-container">
    {{#link-to "portfolio" class="headerlink"}}Portfolio{{/link-to}}
    {{#link-to "about.blog" class="headerlink"}}Blog{{/link-to}}
    {{#link-to "index" class="headerlink"}}Main{{/link-to}}
    {{#link-to "booking" class="headerlink"}}Booking{{/link-to}}
    {{#link-to "signin" class="headerlink"}}Sign In{{/link-to}}
  </div>
</header>

{{login-form}}
{{outlet}}
